{{ define "main" }}
<section id="intro">
    <div id="trailer-wrap">
        <a class="button icon-play" href="YOUTUBELINK">
            <span>
                Watch Videosumé
            </span>
        </a>
        <div id="trailer">
            <div class="youtube" data-embed="K5le9sYdYkM">
                <div class="play-button">
                    <svg aria-hidden="true" data-prefix="fal" data-icon="play-circle" class="svg-inline--fa fa-play-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M256 504c137 0 248-111 248-248S393 8 256 8 8 119 8 256s111 248 248 248zM40 256c0-118.7 96.1-216 216-216 118.7 0 216 96.1 216 216 0 118.7-96.1 216-216 216-118.7 0-216-96.1-216-216zm331.7-18l-176-107c-15.8-8.8-35.7 2.5-35.7 21v208c0 18.4 19.8 29.8 35.7 21l176-101c16.4-9.1 16.4-32.8 0-42zM192 335.8V176.9c0-4.7 5.1-7.6 9.1-5.1l134.5 81.7c3.9 2.4 3.8 8.1-.1 10.3L201 341c-4 2.3-9-.6-9-5.2z"></path></svg>
                </div>
            </div>
        </div>
    </div>

    <div id="blurb" class="flex bigpad">
        <div id="tagline" class="cell">
            <h2><strong>It’s 2019.</strong> Why not employ some random person on the internet?</h2>
            <a class="biglink" href="why-not" title="Become Sam Killermann's Patron">Read 7 Compelling Reasons Not to Employ
        Some Random Person on the Internet ⟶</a>
        </div>
        <img class="hover-z" id="be-my-bosses-dot-gif" src="img/be-my-boss-es.gif" alt="Be My Bosses Neon Sign">

    </div><!--/intro-->

</section>
<section class="grid">
    <article id="how" class="bigpad g-col-start-1 g-col-end-3 g-row-start-1 g-row-end-3 light-grey-bg clip">
        <div class="unclipped right">
            <p class="lede"><span class="dropcap seafoam">D</span>o you care about the work I’m doing? Be my boss and you’ll be directly involved in — and responsible for — everything I create, publish, or send out into the world. And it works like any employee/employer relationship:</p>
            <ol class="small">
                <li><strong>Pay me a monthly salary.</strong> <br/>You choose the amount ($1 per month minimum), based on what you think my work is worth, what’s in the budget, or how much you want to give.</li>
                <li><strong>Oversee my day-to-day operations.</strong> <br/>I’ll share regular updates about what I’m working on, what my plans are, and what’s falling apart.</li>
                <li><strong>Weigh in via polls and ideas.</strong> <br/>Let me know what you think I should be working on, and how I might be able to make you proud. Will I always follow direction? No. But…</li>
                <li><strong>Fire me or give me a raise.</strong> <br/>Am I not up to your caliber? Lay me off. Am I outperforming your expectations? Give me a raise. My salary is in your hands.</li>
            </ol>
        </div>
        <svg class="clipper right" viewBox="0 0 10 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="white" points="10 0, 10 100, 0 100" />
        </svg>

    </article>
    <div class="pad center-everything g-col-start-3 g-col-end-4 g-row-start-1 g-row-end-2">
        <div>
            <h2><strong>Hire</strong> Me Now*</h2>
            <a class="biglink" href="https://patreon.com/join/killermann/" title="Become Sam Killermann's Patron">Begin Employment ⟶</a>
        </div>
    </div>
    <aside class="pad slide-in-left g-col-start-4 g-col-end-5 g-row-start-1 g-row-end-2 bold-purple-bg clip overflow-visible">
        <div class="unclipped left">
            <p class="text-invert lede small">
                All that’s standing between you being my employer, and me being your employee, is one click, then a couple more clicks, the entry of your credit card number, that CVV thing, and then a confirmation email, I think.
            </p>
        </div>
        <svg aria-hidden="true" data-prefix="fal" data-icon="mouse-pointer" class="floaty-svg svg-inline--fa fa-mouse-pointer fa-w-10" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512"><path fill="#84DCC6" d="M154.149 488.438l-41.915-101.865-46.788 52.8C42.432 465.345 0 448.788 0 413.5V38.561c0-34.714 41.401-51.675 64.794-26.59L309.547 274.41c22.697 24.335 6.074 65.09-27.195 65.09h-65.71l42.809 104.037c8.149 19.807-1.035 42.511-20.474 50.61l-36 15.001c-19.036 7.928-40.808-1.217-48.828-20.71zm-31.84-161.482l61.435 149.307c1.182 2.877 4.117 4.518 6.926 3.347l35.999-15c3.114-1.298 4.604-5.455 3.188-8.896L168.872 307.5h113.479c5.009 0 7.62-7.16 3.793-11.266L41.392 33.795C37.785 29.932 32 32.879 32 38.561V413.5c0 5.775 5.935 8.67 9.497 4.65l80.812-91.194z"></path></svg>

        <svg class="clipper left" viewBox="0 0 10 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="white" points="0 0, 10 0, 0 100" />
        </svg>
    </aside>
    <div class="pad center-everything g-col-start-3 g-col-end-5 g-row-start-2 g-row-end-3">
        <a class="button button-seafoam icon-pointer" href="https://patreon.com/join/killermann/" title="Become Sam Killermann's Patron">
            <span>Start the Paperwork</span>
        </a>
    </div>
    <aside id="skillz" class="pad g-col-start-1 g-col-end-2 g-row-start-3 g-row-end-4 dark-blue-bg clip">
        <div class="unclipped right">
            <h2 class="blue">My <strong>Skillz</strong></h2>
            <dl class="small text-invert">
                <dt>
                    Gender + Sexuality + Social Justice
                </dt>
                <dd class="meter scrlld" style="width: 87%" title="87 Percent"></dd>
                <dt>
                    Doodling &amp; Design
                </dt>
                <dd class="meter scrlld" style="width: 72%" title="72 Percent"></dd>
                <dt>
                    Web Development
                </dt>
                <dd class="meter scrlld" style="width: 59%" title="59 Percent"></dd>
                <dt>
                    Writing
                </dt>
                <dd class="meter scrlld" style="width: 94%" title="94 Percent"></dd>
                <dt>
                    Visualizing Skillz as Irrelevant Barz
                </dt>
                <dd class="meter scrlld superwide" title="130 Percent"></dd>
            </dl>
        </div>
        <svg class="clipper right" viewBox="0 0 10 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="white" points="10 0, 10 100, 0 100" />
        </svg>
    </aside><!--/skillz-->
    <div class="bigpad center-everything text-center g-col-start-2 g-col-end-4 g-row-start-3 g-row-end-4">
        <div class="inner">
            <h2 class="pad">
                Being Sam Killermann's Boss:<br/>
                <strong>Tips for New Employers</strong>
            </h2>
            <a href="TK" title="Download the E-Book: Being Sam Killermann's Boss" class="button icon-download">
                <span>
                    Download the E-Book
                </span>
            </a>
        </div>
    </div>
    <div class="g-col-start-4 g-col-end-5 g-row-start-3 g-row-end-4 clip image-cell" style="background-image:url('img/sams-best-boss-mug-donuts-400.jpg');">
        <svg class="clipper left" viewBox="0 0 10 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="white" points="0 0, 10 0, 0 100" />
        </svg>
    </div>
    <div id="take-credit" class="pad text-invert center-everything g-col-start-4 g-col-end-5 g-row-start-4 g-row-end-5 dark-grey-bg">
        <div class="inner">
            <h3 class="text-center pad">My work reaches millions of people in over 150 countries every year.</h3>
            <h2><strong>Take credit.</strong></h2>
            <a class="biglink blue" href="https://patreon.com/join/killermann/" title="Become Sam Killermann's Patron">Be my boss ⟶</a>
        </div>
    </div>
    <div class="g-col-start-3 g-col-end-4 g-row-start-4 g-row-end-5 clip image-cell" style="background-image:url('img/sam-killermann-all-gender-restroom-sign-selfie-400.jpg');" alt="Sam Killermann selfie with All Gender Restroom Sign he designed">
        <a class="instagram-link" href="https://www.instagram.com/p/8ZiFtVFHrg/" target="_blank" title="View on Instagram">
            View on Instagram
        </a>
        <svg class="clipper left" viewBox="0 0 10 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="white" points="0 0, 10 0, 0 100" />
        </svg>
        <svg class="clipper right" viewBox="0 0 10 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="#393E46" points="10 0, 10 100, 0 100" />
        </svg>
    </div>
    <aside class="center-everything bigpad g-col-start-1 g-col-end-3 g-row-start-4 g-row-end-5">
        <div class="inner text-center">
            <blockquote class="indigo">
                “My employee hung out with Katie Couric for a day talking about gender.”
            </blockquote>
            <cite class="text-right">
                &mdash; <strong>You</strong> (if you wanna name drop)
            </cite>
        </div>
    </aside>
    <div class="pad center-everything g-col-start-4 g-col-end-5 g-row-start-5 g-row-end-6">
        <a class="button button-salmon icon-briefcase" href="https://samuelkillermann.com/work" title="All of Sam Killermann's Work">
            <span>Review my Work</span>
        </a>
    </div>
    <div class="pad center-everything g-col-start-1 g-col-end-2 g-row-start-5 g-row-end-6 seafoam-bg clip">
        <div class="unclipped right">
            <h2><strong>FAQ</strong>s</h2>
            <a class="biglink" href="/faq/" title="Frequently Answered Questions">Read All Questions<br/> &amp; Answers ⟶</a>
        </div>
        <svg class="clipper right" viewBox="0 0 10 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="white" points="10 0, 10 100, 0 100" />
        </svg>
    </div>
    <article id="faq" class="bigpad g-col-start-2 g-col-end-4 g-row-start-5 g-row-end-9 clip">
        <div class="unclipped right">
            <p class="lede"><span class="dropcap salmon">A</span>re you on the fence? Have I piqued your curiosity? Are you just scrolling because the colors are pretty? In all three cases, there's likely a question below, and an answer below it, that will spark your fancy.</p>
            <section class="faq small">
                <h3>How is this different from Patreon?</h3>
                <p>First, to be perfectly clear: this whole operation is <a href="https://patreon.com/killermann" title="Sam Killermann on Patreon">powered <em>by</em> Patreon</a>.</p>
                <p>But the way I'm doing this is different from other Patreon-ers on two fronts:</p>
                <ol>
                    <li>My patrons don't get more of what I create (more comics, more articles, more podcasts, more whatever), or exclusive access to my creations.</li>
                    <li>My patrons aren't funding my work in just one dimenison (e.g., writing for a particular site, creating a particular podcast).</li>
                </ol>
                <p>The relationship between me and my "patrons" is more similar to the historical usage of the word than the way most people are using it on Patreon.</p>
                <p>I'm not viewing patrons as "super consumers." I'm not creating for my patrons. We, together, are creating for the world. <a href="https://politicworm.com/oxford/oxfords-life-in-a-nutshell-shakespeare/shakespeares-patrons/" target="_blank">Like Shakespeare and his patrons</a>.</p>
                <p>Only I don't expect you to be an Earl, and I surely hope you don't expect me to be the Bard.</p>
                <h3>How much does it cost?</h3>
                <p>You choose my salary. My ask is that base it on what feels right for <em>you</em>, based on your financial ability, sense of gratitude or fairness, or whatever else moves you.</p>
                <p>There's no minimum (beyond the $1 threshold, which Patreon sets) no maximum, and you're welcome to adjust what you pay every month.</p>
                <h3>Is this legal?</h3>
                <p>I assume so. Granted, technically speaking, in a legal sense, you aren't my "boss" &mdash; so you're not on the hook for things like healthcare (don't have it) or worker's comp (hope I don't need it).</p>
                <p>Also, technically speaking, my lawyer is <a href="https://www.instagram.com/p/BkgEtu2no8W/" title="Chewie">a puppy</a>. So I'll hand this one <a href="https://www.patreon.com/legal" title="Patreon Legl">over to Patreon</a>.</p>
                <h3>Is the color scheme of this site based on a pair of socks and a scarf you own?</h3>
                <p>Yeppppppppp.</p>
            </section>
        </div>
        <svg class="clipper right" viewBox="0 0 10 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="white" points="10 0, 10 100, 0 100" />
        </svg>

    </article>
    <div class="pad text-center center-everything g-col-start-4 g-col-end-5 g-row-start-7 g-row-end-8 salmon-bg clip">
        <div class="inner">
            <h4>Do you still<br/> <strong>have a question?</strong></h4>
            <p>
                <a class="button button-blue icon-twitter" target="_blank" href="https://twitter.com/intent/tweet?screen_name=Killermann&related=Killermann" title="Ask Sam Killermann a Question on Twitter">
                    <span>Ask on Twitter</span>
                </a>
            </p>
        </div>
        <svg class="clipper left" viewBox="0 0 10 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="white" points="0 0, 10 0, 0 100" />
        </svg>
    </div>
    <div class="pad text-center center-everything g-col-start-4 g-col-end-5 g-row-start-8 g-row-end-9">
        <div class="inner">
            <h4><strong>No more questions?</strong></h4>
            <p>
                <a class="button button-seafoam icon-pointer" href="https://patreon.com/join/killermann" title="Get Started being My Boss">
                    <span>Be My Boss</span>
                </a>
            </p>
        </div>
        <svg class="clipper left" viewBox="0 0 10 100" xmlns="http://www.w3.org/2000/svg">
            <polygon fill="white" points="0 0, 10 0, 0 100" />
        </svg>
    </div>

{{ end }}
