.page {
    padding:4vw 20px;
}
.page__title {
    margin:4vw auto;
    max-width:720px;
    text-align:center;

    h1 {
        margin:6vw auto;
    }
}
.page__content {
    max-width:720px;
    margin:40px auto;
}

#intro {

    @include mq('tablet-wide'){
        display:flex;
        flex-direction:column;

        #trailer-wrap {
            display:flex;
            order:2;
            align-items:flex-start;
            justify-content: space-around;

            .button {
                display:inline-flex;
                margin-top:6vw;
                margin-left:2em;
            }

            #trailer {
                width:720px;
                max-width:60vw;
                margin-right:6vw;
                margin-bottom:4vw;
                margin-left:2em;
            }
        }
    }
}


    #blurb {
        align-items: center;
        position:relative;
    }

    #tagline {
        position:relative;
        z-index:2;

        h2 {
            max-width:75%;
            margin-bottom:20vh;

            @include mq('phone-wide'){
                margin-bottom:2em;
            }

            @include mq('tablet-wide'){
                max-width:22em;
                margin-bottom:1em;
            }
        }
    }

    #be-my-bosses-dot-gif {
        max-width:500px;
        display:block;
        border:calc(.5vw + 2px) solid white;
        border-radius:4px;
        height:auto;
        width:25%;
        box-shadow:2.5vw 2vw 10px -5px rgba(0,0,0,.3);
        position:absolute;
        z-index:0;
        top:-20px;
        right:5px;
        transform:rotate(8deg);
        transition: all .2s ease-out;

        &:hover {
            transform:scale(1.1);
        }

        @include mq('tablet-wide'){
            top:3vw;
            right:4vw;
            width:30%;
        }

    }

    #trailer-wrap {
        z-index:10;

        .button {
            display:none;
        }

        .youtube {
            border-radius:$borad $borad 0 0;
        }

        @include mq('tablet'){
            padding:10px;
            .youtube {
                border-radius:6px;
            }
        }
    }

.grid {
    h2, h3, h4 {
        margin-top:0;
        margin-bottom:.5em;
    }

    .image-cell {
        min-height:300px;
        background-size:cover;
    }

    blockquote {
        font-size:1.5em;
    }

    .clip.pad, .clip.bigpad {
        padding-top:40px;
        padding-bottom:40px;

    }

}

#skillz {
    overflow:hidden;

    dl {
        margin:.5em 0 0;
    }
    .meter {
        margin:.2em 0 .5em;
        display:block;
        height:.5em;
        border-radius:1em;
        background-color:$blue;
    }

    @include mq('tablet-wide') {
        display:flex;
        justify-content: center;
        align-items: center;
        overflow:visible;
    }
}

#take-credit {
    padding:40px 20px;
    margin-top:-20px;
    margin-bottom:-20px;

    @include mq('tablet-wide') {
        margin:0;
        padding:20px;

    }
}
